@{
  Layout = "_LayoutDeslogado";
  ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão para acessar essa página, <a asp-controller="Home" asp-action="Index" data-cy="home">Voltar para Home</a></p>